*{
  margin: 0;
  padding:0;
}

.background{
  background-image: url('../assets/pexels-pixabay-161512-backwards.jpg');
  background-position: center;
  background-size: cover;
}

.main{
  width:100%;
  height:100vh;
}

video{
  width:100%;
  height:100%;
  object-fit: cover;
}
.imagesList{
  height: 100px;
  width: 100px;
}
.content{
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}
.layout-container{
  margin-top: 30px;
  margin-left: 30px;
}



.centerimg{
  Display: block;
  height: 70px;
  Align-Items: center;
  Justify-Content: centre;
  text-align: center;
}

.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
 }

.form {
  background-color: black;
  display: flex;
}

.layout-div{
height: 80vh;

}
.garden{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:20px;
}
.garden h2 {
  margin-top:0;
}
.grden span{
  color:white;
  font-size:2rem;
  overflow-y: scroll
  
}
input{
  width: 300px;
  height:40px;
  border-radius: 10px;
  padding-left:10px;
  font-size:1.1rem;
  border:none;
  outline: none;
}

Ruler{
  margin: 200px;
}

.garden-layout{
  margin: 300px;
}

.app{
  display: flex;
  padding: 30px;
}

.game{
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width:70px;
  height: 70px;
}