h3 {
	width: 100%;
	margin-bottom: 4px;
	padding: 4px;
}

.heroContainer {
	height: 100%;
	background-image: url("../assets/pexels-quang-nguyen-vinh-2518893.jpg");
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 8px;
	padding-top: 10%;
	gap: 16px;
}

.login {

	flex-grow: 1;
}

.cardAction {
	display: flex;
	justify-content: flex-end;
}

.signupContainer {
	display: flex;
	justify-content: center;
}