* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
html,
body,
#root {
	min-height: 100vh;
}
#root {
	display: flex;
	flex-direction: column;
	background-image: url('../src/assets/pexels-pixabay-161512.jpg');
	min-height: 100vh;
}
#root > div {
	/* background-color: #f9f9f9; */
	background-image: url('../src/assets/pexels-pixabay-161512.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}